name: Run System Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    - [run_tests]
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run Tests
        run: pytest --spec
